{% extends 'parent.html.twig' %}

{# {% block title %}Hello SiteController!{% endblock %} #}

{% block titre1 %}
<section class="diaporama">
    <div class="rainbow">
    <h1 class="display-3" ><strong>Rainbow-Event</strong></h1>
    </div>
        <section class="diapo">
            <div class="diapo__element diapo__element--active">
                <img class="label__image" src="{{ asset('images/bureauStudio.png')}}" alt="photo">
                <div class="diapo__text">
                    <h3 class="h2">Studio RAINBOW - EVENT</h3>
                    <p class="h3">Un arc-en-ciel d'activités</p>
                </div>
            </div>
                <div class="diapo__element">
                    <img class="label__image" src="{{ asset('images/IMG1.jpg')}}" alt="photo">
                <div class="diapo__text">
                    <h2>E V E N E M E N T I E L</h2>
                    <p>Créée en 2015 dans l'optique de faire la promotion d'artistes, Rainbow Event est spécialisé dans ce secteur d'activité.</p>
                </div>
            </div>

            <div class="diapo__element">
                <img class="label__image" src="{{ asset('images/IMG2.jpg')}}" alt="photo">
                <div class="diapo__text">
                    <h2>S T U D I O / V I D E O</h2>
                    <br>
                    <p>Notre mission est d'accompagner les musiciens professionnels ou amateurs, dans leur évolution musicale.Nous vous proposons de mettre en image vos oeuvres musicales. </p>
                </div>
            </div>
            <div class="diapo__arrows">
            <i id="fleche-gauche" class="las la-angle-left diapo__arrow"></i>
            <i id="fleche-droite" class="las la-angle-right diapo__arrow"></i>
            </div>
              <article class="boutonAction"> <!-- appel à l'action-->
                <nav>
                  <li><a class="boutonAction2" href="#event">EVENEMENTIEL</a></li>
                  <li><a class="boutonAction2" href="#label">LABEL</a></li>
                  <li><a class="boutonAction2" href="#studio">STUDIO</a></li>
                  <li><a class="boutonAction2"  href="{{ path('cours') }}">ENSEIGNEMENTS</a></li>
                </nav>
            </article> <!-- appel à l'action-->
        </section> <!-- Diaporama -->

</section>
{% endblock %} 

{% block evenementiel %}
<section>
    <div id="event"><h1>E V E N E M E N T I E L</h1></div>
        <div class="event__text">
            <h2>Listes des événements :</h2>
            <p>Créée en 2015 dans l'optique de faire la promotion d'artistes, Rainbow Event est spécialisé dans ce secteur d'activité. Nous sommes à votre disposition pour toute création d'un évènement que ce soit un festival, un concert, spectacle de rue, etc... Vous pouvez retrouver toutes les dates de nos différentes prestations sur l'agenda du site.</p>
        </div>
    <div class="event">
        {% for blog_event in blog_events %}
            <article>
                <h3><a href="{{ path('annonce', {'id': blog_event.id}) }}">{{ blog_event.titre }}</a></h3>
                {# <div>Publié par {{ blog_event.user.username }}</div> #}
                <div>Le {{ blog_event.dateCreation ? blog_event.dateCreation|date('d/m/Y') : '' }}</div>
                <p class="contenu">{{ blog_event.contenu }}</p>
                {# <p>Catégorie : {{ blog_event.categorie }}</p> #}
                {% if blog_event.image %}
                    <div><img class="image__event"src="{{ asset('uploads/' ~ blog_event.image) }}" class="img-fluid"</div>
                {% endif %}
                
            </article>
        {% else %}
            <article>
                <div>Aucun event n'est publié</div>
            </article>
        {% endfor %}
    </div>
</section>

<a class="button"href="#"></i></a>
{% endblock %}

{% block label %}
<section class="diapo">
<div id="label"></div>
    <div>
        <img class="label__image" src="{{ asset('images/imageMixage.png')}}" alt="photo">
        <div class="label__texte">
            <h2 class="h1">L A B E L</h2>           
            <br>
            <p class="h2">Un arc-en-ciel de talents</p>
        </div>
        <div class="event__text">
            <p>Le studio RAINBOW-EVENT a crée son label en 2015. Les artistes que l'on y trouve sont des coups de coeur entre ce label et  Philippe RZEPKA qui a choisi de monter ce label afin de pouvoir choisir de garder la passion intacte comme au premier jour, diffuser une musique authentique.</p>
        </div>
    </div>

</section>    
<section class="card__label">

<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/Ishane.png')}}" alt="label1">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ path('labels') }}">ISHANE</a></h5>
        <p class="card-text">Ihsane, également orthographié ehsane, est un terme arabe qui signifie, "perfection", "excellence" ou "embellissement". C'est la troisième dimension de la religion islamique: islam, iman et ihsane.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/Thierry Chatel.png')}}" alt="label2">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ path('labels') }}">THIERRY CHATEL</a></h5>
        <p class="card-text">« En soixante quatre, au Brésil, au pouvoir les militaires, Cages de fers pour les civils, Hostiles au régime totalitaire. » 1964, année de sa naissance, plus d’un demi siècle d’histoire qu’il raconte, conte et chante.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/Zooliya.png')}}" alt="label3">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ path('labels') }}">ZOOLIYA</a></h5>
        <p class="card-text">Déborah Boyer, dite « Zooliya » est née le 13 avril 1998 à Saint-Pierre sur l’île de la Réunion de parents musiciens et sculpteurs. Zooliya baigne dans le monde artistique depuis sa plus tendre enfance.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
</article>
<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/SaintSimon.png')}}" alt="label3">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ path('labels') }}">Saint Simon</a></h5>
        <p class="card-text">Saint Simon est un artiste né le 10 septembre 2000, à Pau, dans le sud-ouest de la France. Son premier choc artistique subvient lors de ses 4 ans. Il assiste à un ballet donné par l’école où ses soeurs apprennent la danse classique. </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
</section>
{% endblock %}

{% block studio %}
<section class="diapo">
<div id="studio"></div>
    <div>
        <img class="label__image" src="{{ asset('images/table3.png')}}" alt="photo">
        <div class="label__texte">
            <h2 class="h1">S T U D I O</h2>
            <br>
            <p class="h2">La double étiquette</p>
        </div>
        <div class="event__text">
            <p>Le Studio combine la double étiquette de studio d'enregistrement et de studio de répétition. Aménagé dans les anciens locaux de La Poste de Jouy-en-Josas, il propose une large surface de 40m2 où vous pourrez travailler dans des conditions idéales, ainsi qu'une régie de 15m2. Ce local est équipé professionellement. Lors de votre arrivée, vous serez accueillis chaleureusement et un espace salon vous sera mis à disposition. Selon votre type de demande veuillez trouver ci-dessous le descriptif du matériel proposé si besoin.</p> 
            <p><strong>(Mise à disposition gratuite sur demande lors de la réservation)</strong></p>
        </div>
    </div>
</section> 
<section>
<div class="event">
  <article>
      <h5><a href="#">REPETITION</a></h5>
      <p>1 table de mixage numérique YAMAHA 01v</p><p>1 accordeur de batterie Tune-bot</p>
      <p>1 filtre acoustique</p><p>2 micros SHURE SM57 <strong>-</strong> 3 micros SHURE SM58</p><p>2 HP de façade JBL JRX100</p>
      <p>2 HP retour JBL JRX200</p>
      <p>1 guitare électro acoustique YAMAHA + 1 ampli IBANEZ Troubadour TA20 et/ou BLACKSTAR HT-1R</p>
      <p>1 basse + 1 ampli basse AMPEG BA-115</p><p>1 piano droit acoustique</p>
      <p>1 clavier ROLLAND FP30</p><p>1 clavier ROLLAND EP.7E</p>
      <p>1 batterie PEARL</p> <p>1 djembé</p>
      <a href="#" class="card-link">Lien</a>
  </article>
  <article>
      <h5><a href="#">ENREGISTREMENT</a></h5>
      <div><strong><em>Matériel idem répétition +</em></strong></div>
      <p><strong><em>Micro dynamique</em></strong></p><p>1 Audix D6</p><p>1 Audix D4</p><p>1 Audix D2</p><p>1 Audix I5</p>
      <p>1 micro pince Musedo</p><p><strong><em>Micro statique</em></strong></p><p>1 T.Bone SG450 + suspension</p>
      <p>1 SE Electronics 2200 AII + suspension + pop</p><p>2 JZ BT-201</p><p>Micro électret</p>
      <p>2 Phonia UMC70</p>
      <a href="#" class="card-link">Lien</a>
  </article>
    <article>
      <h5><a href="#">MATERIEL ENREGISTREMENT</a></h5>
      <p>1 Table de mixage numérique Behringer X32</p>
      <p>1 logiciel de traitement audio PROTOOLS version12</p>
      <p>1 logiciel de traitement audio ABLETON LIVE 10 suite</p>
      <p>2 monitoring YAMAHA MR8 MK2</p>
      <p>1 carte son KOMPLETE AUDIO6</p>
      <p>1 casque DT770 PRO</p>
      <p>1 casque SENNHEISER HD 205</p>
      <p>1 ampli casque BEHRINGER POWERPLAY PRO-XL HA4700</p>
      <a href="#" class="card-link">Lien</a>
  </article>
</section>
{% endblock %}

{% block contact %}
<section class="diapo">
<div id="studio"></div>
    <div>
        <img class="contact__image" src="{{ asset('images/photo groupe.png')}}" alt="photo">
        <div class="label__texte">
            <h2 class="h1">C O N T A C T</h2>
            <br>
            <p class="h2">L'équipe à votre service</p>
        </div>
    </div>
</section>
<section class="contact">
  <article>        
    <div class="contact__text">
      <h3>Une question ?</h3> 
      <p>Si vous avez la moindre interogation ou une demande de service qui ne figure pas sur notre site, <a href="{{ path('renseignements') }}">contactez nous</a>, nous nous ferons un plaisir de vous rencontrer.</p> 
      <h3>Horaires</h3>
      <p>L'accueil du studio est ouvert de 10h à 18h, du Lundi au Vendredi.</p>
      <p>Sur rendez-vous : la semaine jusqu'à 22h, ainsi que le samedi.</p>
      <p><strong></strong></p>
      <h3>Adresse postale</h3>
      <p>SIEGE SOCIAL 10, rue du parc des sports 91160 CHAMPLAN</p>
      <p>STUDIO RAINBOW-EVENT 1, rue du temple 78350 JOUY EN JOSAS</p>
      <h3>TELEPHONE</h3>
      <p>06 61 01 60 06</p>
      <h3>MAIL</h3><p>rainbowevent91160@gmail.com</p>
      </div>
  </article>
  <article>
    <div class="contact__text">
      <h3> Nous suivre :</h3>
        <nav>
          <ul class="social_menu">
            <li class="social_items" ><a href="https://www.facebook.com/rainbowevent91160"><img class="img__social"src="uploads/svg/facebook.svg" alt=""></a></li>
            <li class="social_items" ><a href="https://www.instagram.com/rainbow_event"><img src="uploads/svg/instagram.svg" alt=""></a></li>
            <li class="social_items" ><a href="https://www.youtube.com/channel/UChU_79Hbi_Qjg-w8GkxN9Zg"><img src="uploads/svg/youtube.svg" alt=""></a></li>
          </ul>
        </nav>
    </div>
    <div class="contact__text">
      <h1>Inscription à la newsletter</h1>
      <br>
        <form>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Adresse Email</label>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-light">Validez votre inscription</button>
          </div>
        </form>
    </div>
  </article>
</section>
{% endblock %}