{% extends 'parent.html.twig' %}

{# {% block title %}Hello SiteController!{% endblock %} #}

{% block titre1 %}
<section class="diaporama">
    <div class="rainbow">
    <h1 class="display-3" ><strong>Rainbow-Event</strong></h1>
    </div>
        <section class="diapo">
            <div class="diapo__element diapo__element--active">
                <img class="diapo__image" src="{{ asset('images/capture12.png')}}" alt="photo">
                <div class="diapo__text">
                    <h2 class="h1">Studio RAINBOW - EVENT</h2>
                    <br>
                    <p class="h2">Un arc-en-ciel d'activités</p>
                </div>
            </div>
                <div class="diapo__element">
                    <img class="diapo__image" src="{{ asset('images/capture11.png')}}" alt="photo">
                <div class="diapo__text">
                    <h2>E V E N E M E N T I E L</h2>
                    <p>Créée en 2015 dans l'optique de faire la promotion d'artistes, Rainbow Event est spécialisé dans ce secteur d'activité.</p>
                </div>
            </div>

            <div class="diapo__element">
                <img class="diapo__image" src="{{ asset('images/capture27.png')}}" alt="photo">
                <div class="diapo__text">
                    <h2>S T U D I O / V I D E O</h2>
                    <p>Notre mission est d'accompagner les musiciens professionnels ou amateurs, dans leur évolution musicale.Nous vous proposons de mettre en image vos oeuvres musicales. </p>
                </div>
            </div>
            <div class="diapo__arrows">
            <i id="fleche-gauche" class="las la-angle-left diapo__arrow"></i>
            <i id="fleche-droite" class="las la-angle-right diapo__arrow"></i>
            </div>
        </section> <!-- Diaporama -->
    
</section>
{% endblock %} 

{% block evenementiel %}
<section>
    <h1>E V E N E M E N T I E L</h1>
        <div class="event__text">
            <h2>Listes des événements :</h2>
            <p>Créée en 2015 dans l'optique de faire la promotion d'artistes, Rainbow Event est spécialisé dans ce secteur d'activité. Nous sommes à votre disposition pour toute création d'un évènement que ce soit un festival, un concert, spectacle de rue, etc... Vous pouvez retrouver toutes les dates de nos différentes prestations sur l'agenda du site.</p>
        </div>
    <div class="event">
        {% for blog_event in blog_events %}
            <article>
                <h3><a href="{{ path('annonce', {'id': blog_event.id}) }}">{{ blog_event.titre }}</a></h3>
                <div>Publié par {{ blog_event.user.username }}</div>
                <div>Le {{ blog_event.dateCreation ? blog_event.dateCreation|date('d/m/Y') : '' }}</div>
                <p class="contenu">{{ blog_event.contenu }}</p>
                {# <p>Catégorie : {{ blog_event.categorie }}</p> #}
                {% if blog_event.image %}
                    <div><img class="image__event"src="{{ asset('uploads/' ~ blog_event.image) }}" class="img-fluid"</div>
                {% endif %}
                
            </article>
        {% else %}
            <article>
                <div>Aucun event n'est publié</div>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block label %}
<section class="diapo">
    <div>
        <img class="label__image" src="{{ asset('images/capture11.png')}}" alt="photo">
        <div class="label__texte">
            <h2 class="h1">L A B E L</h2>
            <br>
            <p class="h2">Un arc-en-ciel de talents</p>
        </div>
        <div class="event__text">
            <p>Le studio RAINBOW-EVENT a crée son label en 2015. Les artistes que l'on y trouve sont des coups de coeur entre ce label et  Philippe RZEPKA qui a choisi de monter ce label afin de pouvoir choisir de garder la passion intacte comme au premier jour, diffuser une musique authentique.</p>
        </div>
    </div>

</section>    
<section class="card__label">

<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/label1.png')}}" alt="label1">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="#">ISHANE</a></h5>
        <p class="card-text">Ihsane, également orthographié ehsane, est un terme arabe qui signifie, "perfection", "excellence" ou "embellissement". C'est la troisième dimension de la religion islamique: islam, iman et ihsane.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/Capture.png')}}" alt="label2">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="#">THIERRY CHATEL</a></h5>
        <p class="card-text">« En soixante quatre, au Brésil, au pouvoir les militaires, Cages de fers pour les civils, Hostiles au régime totalitaire. » 1964, année de sa naissance, plus d’un demi siècle d’histoire qu’il raconte, conte et chante.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
<article>
<div class="card mb-3" style="max-width: 650px; margin: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="label_card__image" src="{{ asset('images/label3.png')}}" alt="label3">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="#">ZOOLIYA</a></h5>
        <p class="card-text">Déborah Boyer, dite « Zooliya » est née le 13 avril 1998 à Saint-Pierre sur l’île de la Réunion de parents musiciens et sculpteurs. Zooliya baigne dans le monde artistique depuis sa plus tendre enfance.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</article>
</section>
{% endblock %}
