{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<h1>Accueil du site</h1>

{% endblock %}  

{% block evenementiel %}

<section>
    <h1>Listes des événements :</h1>
    <div class="event">
        {% for blog_event in blog_events %}
            <article>
                <h3><a href="{{ path('annonce', {'id': blog_event.id}) }}">{{ blog_event.titre }}</a></h3>
                <div>Publié par {{ blog_event.user.username }}</div>
                <p>{{ blog_event.contenu }}</p>
                <p>{{ blog_event.categorie }}</p>
                <div><img src="{{ asset('uploads/' ~ blog_event.image) }}"</div>
                <div>{{ blog_event.dateCreation ? blog_event.dateCreation|date('d/m/Y à H:i') : '' }}</div>
            </article>
        {% else %}
            <article>
                <div>Aucun event n'est publié</div>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}