{% extends 'parent.html.twig' %}

{% block titre1 %}
<section class="container">
<h1 class="label__titre">Matériel son et lumière à louer</h1>
</section>
{% endblock %}  



{% block titre2 %}
<section  class="diapo">
<a class="button"href="#"></i></a>
<br class="recherche">
<h1>Liste des locations </h1>
<br class="recherche">
    <div class="locations">
        {% for location in locations %}
            <article>
                <div>{{ location.id }}</div>
                <h3><a href="{{ path('annonceloc', {'id': location.id}) }}">{{ location.nom }}</a></h3>
                <p><strong>Catégorie :</strong>{{ location.categorie }}</p>
                <p><strong>Déscriptif :</strong>{{ location.descriptif }}</p>
                <div>{{ location.image }}</div>
                <p><strong>Type de réservation :</strong>{{ location.typeReservation }}</p>
                <p><strong>Nombre de jour :</strong>{{ location.nombreJour }}</p>
                <p><strong>Tarif :</strong>{{ location.prix }}</p>
                <p>{{ location.dateCreation ? location.dateCreation|date('d-m-Y') : '' }}</p>

            </article>
        {% else %}  
            <article>
                <div>Référence location non trouvée</div>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
