{% extends 'parent.html.twig' %}

{% block titre1 %}
<section class="container">
<h1 class="label__titre">Page renseignements</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{(messageConfirmation ?? "message par défaut")|raw}}
{{ form_end(form) }}
</section>
{% endblock %}