{% extends 'base.html.twig' %}

{% block title %}Renseignements{% endblock %}

{% block body %}
    <h1>Renseignements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ renseignement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ renseignement.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ renseignement.email }}</td>
            </tr>
            <tr>
                <th>Tetephone</th>
                <td>{{ renseignement.tetephone }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ renseignement.sujet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ renseignement.message }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ renseignement.dateCreation ? renseignement.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('renseignements_index') }}">back to list</a>

    <a href="{{ path('renseignements_edit', {'id': renseignement.id}) }}">edit</a>

    {{ include('renseignements/_delete_form.html.twig') }}
{% endblock %}
