<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rainbow-Event</title>
    {# <link rel="stylesheet" href="{{ asset('css/normalize.css') }}"> #}
    

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <script src="{{ asset('js/script.js') }}"></script>
    <link rel="icon" type="images/ico" href="{{ asset('images/favicon.ico')}}">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LEN6D79XNM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LEN6D79XNM');
    </script>
    {% block carte1 %}{% endblock %}

    {# link css #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <header>
        <nav class="menu">
  
            <ul class="container_menu" >
                <a href="{{ path('index') }}" class="menu__link"  ><img class="logo" src="{{ asset('images/logo.png')}}" alt="logo " title="Logo"></a>
                <li class="menu__item" ><a href="{{ path('index') }}" class="menu__link" >Accueil</a></li>
                <li class="menu__item" ><a href="{{ path('labels') }}" class="menu__link" >Artistes</a></li>
                {# <li class="menu__item" ><a href="{{ path('rechercher') }}" class="menu__link" >Recherche location</a></li> #}
                <li class="menu__item" ><a href="{{ path('location') }}" class="menu__link" >Location</a></li>
                <li class="menu__item" ><a href="{{ path('boutique') }}" class="menu__link" >Boutique</a></li>  
                <li class="menu__item" ><a href="{{ path('renseignements') }}" class="menu__link" >Renseignements</a></li>
                <li class="menu__item" ><a href="https://www.facebook.com/rainbowevent91160/" target="_blank" class="menu__link" ><i class="lab la-facebook-square"></i></a></li>
                <li class="menu__item" ><a href="https://www.instagram.com/rainbow_event/" target="_blank" class="menu__link" ><i class="lab la-instagram"></i></a></li> 
                <li class="menu__item" ><a href="https://www.youtube.com/channel/UChU_79Hbi_Qjg-w8GkxN9Zg" target="_blank" class="menu__link" ><i class="lab la-youtube"></i></a></li>
                <li class="menu__item" ><a href="{{ path('app_login') }}">Connexion administration</a></li>
            </ul>
            </nav>
        {% if is_granted('ROLE_ADMIN') %}
            <nav class="menu">
                Bienvenue {{ app.user.username }} 
                <li class="menu__item" ><a href="{{ path('admin') }}">admin</a></li>
                {# <li class="menu__item" ><a href="{{ path('membre') }}">Membre</a></li> #}
                <li class="menu__item" ><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </nav>

        {% elseif is_granted('ROLE_MEMBRE') %}
            <nav class="menu">
                Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a></li>
                <li class="menu__item" ><a href="{{ path('membre') }}">Membre</a></li>
            </nav>
        {% endif %}

    </header>

        <section>
            {% block titre1 %}
            {% endblock %}

            {% block diapo %}
            {% endblock %}

            {% block annonces %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block evenementiel %}
            {% endblock %}

            {% block annonceloc %}
            {% endblock %}

            {% block label %}
            {% endblock %}

            {% block label2 %}
            {% endblock %}

            {% block titre2 %}
            {% endblock %}

            {% block titre3 %}
            {% endblock %}

            {% block studio %}
            {% endblock %}

            {% block enseignements %}
            {% endblock %}

            {% block boutique %}
            {% endblock %}

            {% block tarif_enseignements %}
            {% endblock %}

            {% block contact %}
            {% endblock %}

            {% block mentionLegale %}
            {% endblock %}

            {% block conditionvente %}
            {% endblock %}

            {% block conditionutilisation %}
            {% endblock %}

            {% block formulaire %}
            {% endblock %}

            {% block calendrier %}
            {% endblock %}

            {% block carte2 %}
            {% endblock %}


        </section>
            
    <footer>
        <div class="footer_first">
            <nav class="social_container">
             <p> nous suivre :</p>   
            <ul class="social_menu">
                
                <li class="social_items" ><a href="https://www.facebook.com/rainbowevent91160" target="_blank"><img class="img__social"src="{{ asset('uploads/svg/facebook.svg')}}" alt="facebook"></a></li>
                <li class="social_items" ><a href="https://www.instagram.com/rainbow_event" target="_blank"><img src="{{ asset('uploads/svg/instagram.svg')}}" alt="instagram"></a></li>
                <li class="social_items" ><a href="https://www.youtube.com/channel/UChU_79Hbi_Qjg-w8GkxN9Zg" target="_blank" ><img src="{{ asset('uploads/svg/youtube.svg')}}" alt="youtube"></a></li>
            </ul>
            </nav>
        </div>
        <section class="margeFooter">
        <p id="copy">Copyright &copy; 2021 www.Rainbow-Event.com - <a href="{{ path('mention_legale') }}"  >Mentions légales</a> -  <a href="{{ path('conditionVente') }}">Conditions générales de vente</a> - <a href="{{ path('conditionUtilisation') }}">Conditions générales d'utilisation</a> - Reproduction interdite.</p>
        </section>
    </footer>


</body>
</html>